<h1>Bouhhh le rails</h1>

<h2>Transport</h2>

<%= form_with url: '/home' do |form| %>
    <div>
        <%= form.label :distance, "Indiquez votre distance (km)" %>
        <%= form.number_field :distance %>
    </div>

    <div>
        <label>Transport utilisé</label>
        <select name='transport'>
            <% @transports.each do |transport| %>
                <option value='<%= transport.id %>'>
                    <%= transport.name %> : <%= transport.co2 %>
                </option>
            <% end %>
        </select>
    </div>

    <%= form.submit "Calculer" %>
<% end %>

<%= @params %>